# App Settings:
APP_NAME="Xivi"
APP_VERSION="1.0"
CONFIG_PATH="./configs"
M3U_FILEPATH="./configs/stream"
EPG_FILEPATH="./configs/stream"
MODEL_PATH="./models"
MODEL_NAME="sentence-transformers/LaBSE"

# Server settings:
SERVER_HOST="0.0.0.0"
SERVER_PORT=8080
SERVER_READ_TIMEOUT=60

TZ="America/New_York"

# JWT settings:
JWT_SECRET_KEY="secret"
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT=15
