# macOS
**/.DS_Store

# IDEs
.vscode/
.idea/
xivi.code-workspace
.augment-guidelines
.cursorrules
.repomix*
.augmentignore

# Build
build/
tmp/
/config/
xivi.exe
/models/
/docs/*
!/docs/openapi.go
!/docs/openapi-v2.yaml
!/docs/security-deployment.md
!/docs/android-release.md
!/docs/android-tv.md
/xivi
lib_build/
serve/
local_cache/

# Test
*.out
.vite/

# Environment variables
.env

# Svelte
.svelte-kit/

#node
node_modules/

#rust
target/
