# macOS
**/.DS_Store

# IDEs
.vscode/
.idea/
xivi.code-workspace
.augment-guidelines
.cursorrules
.repomix-output.txt
.augmentignore

# Build
build/
tmp/
/config/
xivi.exe
/models/
/docs/
xivi
lib_build/
serve/
local_cache/

# Test
*.out
.vite/

# Environment variables
.env

# Svelte
.svelte-kit/

#node
node_modules/

#rust
target/
