# macOS
**/.DS_Store

# IDEs
.vscode/
.idea/
xivi.code-workspace

# Dev build
build/
tmp/
/config/
xivi.exe
/models/
/docs/

# Test
*.out

# Environment variables
.env

# Svelte
.svelte-kit/

#node
node_modules/

#rust
target/