application:
  appname: Xivi
  appversion: 1.0
  tz: America/New_York
  model: sentence-transformers/all-MiniLM-L6-v2
  loglevel: 3
  updatecron: "0 0 * * *"

server:
  host: 127.0.0.1
  port: 8080
  readtimeout: 60

playlist:
  tvgid_match: true
  name_match: true
  name_score: 0.95

streaming:
  proxy: true
  buffer: 200
  useragent: Xivi 1.0